body {
  margin: 0;
  padding: 0;
  background-color: #f0fff0;
  font-family: 'Raleway', sans-serif;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
}

header {
  background-color: #e0ffe0;
  padding: 30px;
  text-align: center;
  border-bottom: 3px solid green;
}

h1, h2 {
  font-family: 'Playwrite HU', sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
  color: green;
}

h2 {
  font-size: 22px;
  color: #333;
  margin-top: 10px;
}

.container-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#quiz-section{
    padding: 50px 0;
}

#quiz-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
}

#quiz-container h2 {
  margin-bottom: 20px;
}

#quiz-container button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#quiz-container button:hover {
  background-color: #45a049;
}

footer {
  background-color: #e0ffe0;
  padding: 20px;
  text-align: center;
  border-top: 3px solid green;
  font-family: 'Playwrite HU', sans-serif;
}

footer p {
  margin: 0;
  color: #333;
  font-size: 18px;
}
